<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	android:versionCode="7" 
	android:versionName="1.5" 
	package="com.rover2"
	>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY"/>
    <uses-permission android:name="android.permission.WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true"/>
    <application android:label="@string/app_name" android:icon="@drawable/wificar_icon" android:name="com.wificar.MyApplication">
        <activity android:label="@string/app_name" android:name="com.wificar.WificarActivity" android:screenOrientation="landscape" android:configChanges="screenLayout|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.wificar.SettingActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.wificar.SplashActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.wificar.ShareActivity" android:screenOrientation="landscape"/>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="com.wificar.ImageGalleryActivity" android:screenOrientation="landscape"/>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="com.wificar.VideoGalleryActivity" android:screenOrientation="landscape"/>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="com.wificar.mediaplayer.MediaPlayerActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/x-msvideo"/>
                <data android:mimeType="video/avi"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.android.PhoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
